.footer {
    height:auto;
    flex-shrink: 0;
    line-height: 120%;
    /* Vertically center the text there */
    padding: 35px 0 20px;
    color: #000;
    position: relative;
    background: #efefef;
}